<style>
  button {
    background-color: blue;
    color: white;
    border: none;
    height: 36px;
    border-radius: 18px;
  }
</style>





body {
  text-align: center;
  font-family: Arial;
}
button {
  padding: 12px 20px;
  font-size: 20px;
}
